<div class="aside-wrap">
  <div class="navi-wrap">

    <!-- nav -->
    <nav ui-nav class="navi" ng-include="'templates/blocks/nav.html'"></nav>
    <!-- nav -->

    <!-- aside footer -->
    <!--<div class="wrapper m-t">
      <div class="text-center-folded">
        <span class="pull-right pull-none-folded">10%</span>
        <span class="hidden-folded" translate="aside.MILESTONE">Milestone</span>
      </div>
      <progressbar value="10" class="progress-xs m-t-sm dk" type="info"></progressbar>
      <div class="text-center-folded">
        <span class="pull-right pull-none-folded">20%</span>
        <span class="hidden-folded" translate="aside.RELEASE">Release</span>
      </div>
      <progressbar value="20" class="progress-xs m-t-sm dk" type="danger"></progressbar>
    </div>-->
    <!-- <md-button class="btn-primary m-l-md" ui-toggle-class="show" data-target=".dev-panel-wrapper">Open Dev Core</md-button>  -->
    <!-- / aside footer -->
  </div>
</div>
